* {
    border: none;
    border-radius: 0;
    font-family: Hack Nerd Font;
    font-size: 14px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background-color: #1B2B34;
    border-bottom: 3px solid #F99157;
    color: #ffffff;
}


/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/*
window#waybar.firefox {
    background-color: #000000;
    border: none;
}
*/

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.visible {
    background-color: #343D46;
    border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    background-color: #F99157;
    border-bottom: 3px solid #F99157;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    border-bottom: 3px solid #eb4d4b;
}

#mode {
    background-color: #64727D;
    /* border-bottom: 3px solid #ffffff; */
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mpd,
#mode,
#idle_inhibitor {
    padding: 0 10px;
    margin: 0 4px;
    color: #ffffff;
}

#battery.charging {
    background-color: #343D46;
    border-bottom: 3px solid #ffffff;
}

#mode,
#network.linked,
#battery.warning:not(.charging),
#pulseaudio.muted,
#pulseaudio.source-muted,
#network.disconnected,
#idle_inhibitor.activated {
    background-color: #F99157;
    color: #1B2B34;
}
