window {
  margin: 5px;
  border: 3px solid #EC5F67;
  background-color: #EC5F67;
}

#input {
  margin: 10px;
  border: 3px solid #A7ADBA;
}

#inner-box {
  margin: 5px;
  background-color: #343D46;
}

#inner-box flowboxchild:selected {
    background: #6699CC;
    outline: none;
}

#outer-box {
  margin: 3px;
  background-color: #343D46;
}

#scroll {
  background-color: #343D46;
}

#text {
  margin: 1px;
  color: #D8DEE9;
}
